# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtualenv
venv/
env/
ENV/
.venv/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
*.mo

# Environment variables
.env
.env.*

# VS Code
.vscode/

# Mac
.DS_Store

# PyCharm
.idea/

# Migrations (optional to track)
*/migrations/*.pyc
*/migrations/__pycache__/
*/migrations/*.py
!*/migrations/__init__.py

# PostgreSQL
*.backup
