{% extends 'base.html' %}
{% load static %}
{% block title %}Edit Ingredient{% endblock %}

{% block content %}

<div class="container-content">
    <div style="display: flex; gap: 0.5rem; flex-wrap: wrap;">
        <a href="javascript:history.back()" class="btn">Back</a>
    </div>
</div>


<div class="container-content">
    <div class="grid-container">
        <div class="grid-item info">

    <div class="section-header" style="display:flex; justify-content:space-between; align-items:center; margin-bottom:2rem;">
            <h2 class="section-title">Edit Ingredient</h2>

    </div>

    <form method="POST">
        {% csrf_token %}

        <!-- Basic fields -->
        <div class="basic-fields">
            {{ form.name.label_tag }} {{ form.name }}
            {{ form.category.label_tag }} {{ form.category }}
            {{ form.dietary_tag.label_tag }} {{ form.dietary_tag }}
      </div>
        </div>
        <div class="grid-item info">

            <div class="basic-fields">

            {{ form.base_quantity.label_tag }} {{ form.base_quantity }}
            {{ form.default_unit.label_tag }} {{ form.default_unit }}
        </div>
        </div>
        </div>

<!-- Nutrients editable -->

        <h2 style="margin-top: 2rem;">Nutrients (per base quantity)</h2>
        <div class="nutrients-grid" style="display:grid; grid-template-columns: repeat(4, 1fr); gap:1rem;">
            {% for field in form.visible_fields %}
                {% if "base_quantity_" in field.name %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {% endif %}
            {% endfor %}

        </div>
        <button type="submit" class="btn" >Save</button>
        <a href="javascript:history.back()" class="btn btn-danger">Cancel</a>
    </form>

</div>

{% endblock %}
