{% extends 'base.html' %}
{% load static %}
{% block title %}Ingredient Details{% endblock %}

{% block content %}

<div class="container-home">

    {% include 'ingredients/delete_ingredient_modal.html' %}

    <div class="section-header" style="display:flex; justify-content:space-between; align-items:center; margin-bottom:2rem;">
        <div>
            <h2 class="section-title">Ingredient Details - {{ ingredient.name }} </h2>
            <p class="section-description">View detailed information about this ingredient.</p>
        </div>
        <div>
            <a href="{% url 'manage_ingredients' %}" class="btn btn-secondary">Back</a>
            <a href="{% url 'edit_ingredient' ingredient.id %}" class="btn btn-secondary">Edit</a>
            <button class="btn btn-danger"
                    type="button"
                    onclick="openDeleteModal({{ ingredient.id }}, '{{ ingredient.name }}')">
                Delete
            </button>
        </div>
    </div>

    <!-- Details Table -->
    <table class="data-table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ ingredient.name }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ ingredient.category|default:"-" }}</td>
            </tr>
            <tr>
                <th>Base Quantity</th>
                <td>{{ ingredient.base_quantity }}</td>
            </tr>
            <tr>
                <th>Default Unit</th>
                <td>{{ ingredient.default_unit|default:"-" }}</td>
            </tr>
            <tr>
                <th>Dietary Information</th>
                <td>{{ ingredient.dietary_info|default:"-" }}</td>
            </tr>
        </tbody>
    </table>

    <!-- Unit Selection & Nutrients Table -->
    <h4 style="margin-top: 2rem;">
        Nutrients for {{ quantity }} {{ unit_name }}:
    </h4>



        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <label>Measurement unit:</label>
            <select name="unit">
                {% for mu in ingredient.measurement_units.all %}
                    <option value="{{ mu.id }}">
                        {{ mu.unit }}
                    </option>
                {% endfor %}
            </select>
            <input type="number" name="quantity" step="0.01" required>

            <button type="submit">Save</button>
        </form>


    <table class="data-table" style="margin-top:1rem;">
        <thead>
            <tr>
                <th>Nutrient</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for n, value in nutrients.items %}
            <tr>
                <td>{{ n|upper }}</td>
                <td>{{ value|floatformat:2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

<script src="{% static 'js/delete_popup.js' %}"></script>

{% endblock %}
