{% extends 'base.html' %}
{% block title %}Add Recipe{% endblock %}
{% load static %}
{% block content %}

<div class="container-home">
    <h2>Add Recipe</h2>

    <form method="post" action="{% url 'add_recipe' %}">
        {% csrf_token %}
        {{ recipe_form.as_p }}
        {{ ingredient_formset.management_form }}

        <h3>Ingredients</h3>
        <div id="ingredientsContainer"></div>

        <button type="button" id="addIngredientBtn" class="btn btn-primary">
            + Add Ingredient
        </button>

        <br><br>

        <button type="submit" class="btn btn-success">Save Recipe</button>
        <a href="{% url 'manage_recipes' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

<!-- MODAL -->
<div id="ingredientModal" class="recipe-modal">
    <div class="recipe-modal-content">
        <h4>Add Ingredient</h4>

        <select id="ingredientSelect" onchange="loadUnits()">
            <option value="">Select ingredient</option>
                {% for ing in ingredients %}
                    <option value="{{ ing.id }}"
                        data-units='[
                            {% for mu in ing.measurement_units.all %}
                                {"id": "{{ mu.id }}", "name": "{{ mu.name_for_quantity_singular }}"}
                                {% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ]'

                    >{{ ing.name }}</option>
                {% endfor %}

        </select>

        <br><br>

        <input type="number" id="quantityInput" step="0.01" min="0.01" placeholder="Quantity">

        <br><br>

        <select id="unitSelect"></select>

        <br><br>

        <button type="button" onclick="addIngredient()">Add</button>
        <button type="button" onclick="closeModal()">Cancel</button>
    </div>
</div>

<script src="{% static 'js/add_recipe_handler.js' %}"></script>


{% endblock %}
