{% extends 'base.html' %}
{% load static %}

{% block title %}
Foodganizer Home
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/homepage_styles.css' %}">

<div class="hero">
    <img class="hero-bg" src="{% static 'images/cucumber_tomato.svg' %}" alt="Tomato">

</div>


<div class="container-home-head">
    <h2>Ready to get ahead of your meal planning?</h2>
    <p>Start your journey below:</p>
</div>


<div class="container-home-cards">

<a href="{% url 'generate_grocery_list' %}" class="tab-head-cards">
    <div id="grocery-list" class="tab-content-cards card" data-text="Get a personalized grocery list!">
      <p>Generate Grocery List</p>
    </div>
</a>

<a href="{% url 'user_grocery_list' %}" class="tab-head-cards">
    <div id="grocery-list-product" class="tab-content-cards card" data-text="Your personalized grocery list!">
      <p>View Grocery List</p>
    </div>
</a>

<a href="{% url 'meal_suggestions' %}" class="tab-head-cards">
    <div id="meal-suggestions" class="tab-content-cards card" data-text="See what you can cook right now!">
      <p>Get Meal Suggestions</p>
    </div>
</a>

<a href="{% url 'meal_list' %}" class="tab-head-cards">
    <div id="meal-list" class="tab-content-cards card" data-text="Your own grocery list!">
      <p>Your Meals Meals</p>
    </div>
</a>

<a href="{% url 'manage_recipes' %}" class="tab-head-cards">
    <div id="manage-recipes" class="tab-content-cards card" data-text="Manage your recipes here!">
      <p>Manage Recipes </p>
    </div>
</a>

<a href="{% url 'manage_fridge' %}" class="tab-head-cards">
    <div id="update-fridge" class="tab-content-cards card" data-text="What do you have in your fridge?">
      <p>Update your Fridge</p>
    </div>
</a>

<a href="{% url 'manage_ingredients' %}" class="tab-head-cards">
    <div id="manage-ingredients" class="tab-content-cards card" data-text="Introduce new ingredients here.">
      <p>Manage Ingredients </p>
    </div>
</a>

<a href="#" class="tab-head-cards">
<div id="calorie-tracker" class="tab-content-cards card" data-text="Coming Soon">
      <p>Calorie Tracker </p>
</div>
</a>


</div>


{% endblock %}
