
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 - Not Found</title>
  <link rel="stylesheet" href="{% static 'css/404.css' %}">
</head>
<body>
<div class="scanlines"></div>

  <div class="container">
    <div class="error-code">404</div>
    <p class="message">Oops, somebody ate this resource...</p>
    <a href="/" style="
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #00ff6a;
    background: transparent;
    border: 2px solid #00ff6a;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
">Go Back</a>

    <div class="scene">
      <?xml version="1.0" encoding="utf-8"?>
      <img  src="{% static 'images/fridge.svg' %}" alt="fridge">

    </div>
  </div>

</body>
</html>

