{% load static %}
{% load form_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Foodganizer{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

</head>


<body>
       {% include 'header.html' %}

<main>
<!--    {% if messages %}-->
<!--        <div style="max-width:1200px; margin: 0.75rem auto; padding: 0 1.5rem;">-->
<!--            {% for message in messages %}-->
<!--                <div class="message {{ message.tags }}">{{ message }}</div>-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--    {% endif %}-->

    {% block content %}
    {% endblock %}
</main>

       {% include 'footer.html' %}

</body>

</html>
