 <footer class="footer">
        <div class="container footer-grid">
            <div>
                <h4>Foodganizer</h4>
                <p>Say "Goodbye" to meal-planning anxiety! </p>
                <p>Track your favourite recipes and plan your meals in one place!</p>
            </div>

            <div>
                <h4>Resources</h4>
                <ul>
                    <li><a href="#">How it works</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Tips</a></li>
                </ul>
            </div>

            <div>
                <h4>Contact</h4>
                <p>Email: support@mealplanner.com</p>
                <p><a href="https://github.com/YoanaBast/healthy_meals">GitHub</a></p>
            </div>
        </div>

        <div class="footer-bottom">
            © {% now "Y" %} Foodganizer. All rights reserved.
        </div>
    </footer>