{% load static %}
<header class="main-header">
    <div class="tab-nav">

        <div class="logo">
            <a href="{% url 'homepage' %}">
                <img class="header-logo" src="{% static 'images/simple_logo.svg' %}" alt="logo"/>
            </a>
        </div>

        <div class="tab-buttons-container">
            <a href="{% url 'generate_grocery_list' %}" class="tab-button {% if request.resolver_match.url_name == 'generate_grocery_list' %}active{% endif %}">Generate Grocery List</a>
            <a href="{% url 'meal_suggestions' %}" class="tab-button {% if request.resolver_match.url_name == 'meal_suggestions' %}active{% endif %}">Get Meal Suggestions</a>
            <a href="{% url 'manage_fridge' %}" class="tab-button {% if request.resolver_match.url_name == 'manage_fridge' %}active{% endif %}">Update your Fridge</a>
            <a href="{% url 'manage_recipes' %}" class="tab-button {% if request.resolver_match.url_name == 'manage_recipes' %}active{% endif %}">Manage Recipes</a>
            <a href="{% url 'manage_ingredients' %}" class="tab-button {% if request.resolver_match.url_name == 'manage_ingredients' %}active{% endif %}">Manage Ingredients</a>
        </div>

        <div class="nav-icons">
            <div class="tooltip">
                <a href="{% url 'user_grocery_list' %}"><img src="{% static 'images/grocery-cart.svg' %}" alt="Grocery List" width="24" height="24"></a>
                <span class="tooltip-text">Groceries</span>
            </div>

            <div class="tooltip">
                <a href="{% url 'meal_list' %}"><img src="{% static 'images/fork_knife.svg' %}" alt="Meals List" width="24" height="24"></a>
                <span class="tooltip-text">Meals</span>
            </div>

            <div class="tooltip">
                <a href="{% url 'calorie-tracker' %}"><img src="{% static 'images/kcal.svg' %}" alt="Home" width="24" height="24"></a>
                <span class="tooltip-text">Kcal</span>
            </div>

            <div class="tooltip">
                <a href="{% url 'homepage' %}"><img src="{% static 'images/home.svg' %}" alt="Home" width="24" height="24"></a>
                <span class="tooltip-text">Home</span>
            </div>


        </div>

    </div>
</header>