{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<div class="tab-nav">
    <div class="tab-nav-upper">
        <a href="{% url 'homepage' %}" class="tab-button {% if request.resolver_match.url_name == 'homepage' %}active{% endif %}">Generate Grocery List</a>
        <a href="{% url 'homepage' %}" class="tab-button {% if request.resolver_match.url_name == 'homepage' %}active{% endif %}">Get Meal Suggestions</a>
        <a href="{% url 'manage_fridge' %}" class="tab-button {% if request.resolver_match.url_name == 'manage_fridge' %}active{% endif %}">Update your Fridge</a>
    </div>

    <div class="tab-nav-lower">
        <a href="{% url 'manage_recipes' %}" class="tab-button {% if request.resolver_match.url_name == 'manage_recipes' %}active{% endif %}">Manage Recipes</a>
        <a href="{% url 'manage_ingredients' %}" class="tab-button {% if request.resolver_match.url_name == 'manage_ingredients' %}active{% endif %}">Manage Ingredients</a>
    </div>
</div>
